streamlit==1.35.0
sentence-transformers==2.7.0
scikit-learn==1.4.2
networkx==3.3
spacy==3.7.4
torch>=2.0.0
transformers==4.41.1
Pillow==10.3.0
numpy==1.26.4

# For OCR (used in extract_text from image_processing.py)
pytesseract==0.3.10

# Optional (for text-to-speech)
gTTS==2.5.1
